body {
	font-family: "微軟正黑體、新細明體、細明體、Arial";
	color: #666666;
	background-color:#ffffff;
}

#maincontain{
	width:100%;
	height: auto;
	background: url("../images/bg/bg02.jpg");
	background-repeat: repeat-x;
}

#contentbox{
	width: 1100px;
	min-height: 600px;
	height: auto;
	margin: 0 auto;
}

#headerbox{
	position: relative;
	width:1110px;
	height: 68px;
}

#headerbox a.logo{
	position: absolute;
	display: block;
	top: 16px;
	left: 58px;
	width:214px;
	height: 43px;
	background: url("../images/logo/logo2.png");
}

#headerbox ul.menu{position: absolute;top: 15px; left: 650px;}
#headerbox ul.menu li{float: left;}
#headerbox ul.menu li a{
	margin: 0 23px 0 23px;
	line-height: 46px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#loginbox{
	position: absolute;
	top: 30px; 
	left: 989px;
	min-width: 26px;
	width: auto;
	height: 17px;
	line-height: 17px;
	background: url("../images/icon/login2.png");	
	background-repeat: no-repeat;
	color: #fff;
	padding: 0 0 0 30px;
	cursor: pointer;
}

#footerbox{
	width: 100%;
	height: 109px;
	background: #525252;
}


#footernavbox{
	width: 100%;
	height: 77px;
	background: #525252;
}


#footerinfobox{
	clear: both;
	width: 100%;
	height: 32px;
	background: #262626;
}

#footernavbox div.nav{
	width: 1100px;
	height: 77px;
	margin: 0 auto;
}

#footernavbox div.nav ul{float: right;}
#footernavbox div.nav ul li{float: left;}
#footernavbox div.nav ul li a{
	margin: 0 13px 0 13px;
	padding: 0;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 77px;
}

#footerinfobox div.info{
	width: 1100px;
	height: 32px;
	margin: 0 auto;
}

#footerinfobox div.info div.l{
	float: left;
	width: 495px;
	height: 32px;
	padding: 0 0 0 55px;
	line-height: 32px;
	color: #fff;
	font-size: 12px;
}

#footerinfobox div.info div.r{
	margin: 0 0 0 550px;
	width: 550px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	text-align: right;
	font-size: 12px;
}

/*-------------------*/
#bodybox01{
	width: 990px;
	min-height: 317px;	
	margin: 0 auto;
	padding: 25px 0 0 0;

}

#bodybox02{
	width: 990px;
	min-height: 372px;	
	margin: 0 auto;

}

#bodybox02 p.title {	
	font-size: 36px;
	line-height: 100px;
}

#bodybox02 p.content {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

#bodybox02 p.title2 {	
	font-size: 28px;
	line-height: 40px;
}

#bodybox02 p.title3 {	
	font-size: 21px;
	line-height: 40px;
	font-weight: bold;
}

#bodybox02 ul li {	
	font-size: 18px;
	line-height: 24px;
}

#bodybox03{
	position: relative;
	width:1110px;
	height: 317px;
}

/*-------------------*/
div#wall{
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
}


div#logindatabox{
	position: fixed;
	top:0px;
	left: 0px;
	display: none;
	width: 653px;
	height: 441px;
	padding: 10px 10px 15px 10px;
	border: solid 1px #ccc;
	background: #fff;
}

div#logindatabox div.close{
	position: absolute;
	top:5px;
	right: 10px;
	width: 22px;
	height: 22px;
	background: url("../images/icon/close.png");
	cursor: pointer;
}

div#logindatabox div.subject{
	line-height: 50px;
	font-size: 24px;
	color: #535353;

}

div#logindatabox div.line{
	width: 100%;
	height:2px;
	background: #ccc; 
}

div#logindatabox div.account{
	clear: both;
	width: 100%;
	height: 33px;
	line-height: 33px;
	margin-bottom: 10px;
}

div#logindatabox div.account div.title{
	float: left;
	width: 99px;
	height: 33px;
	line-height: 33px;
	padding: 0 25px 0 0;
	text-align: right;
}

div#logindatabox div.account div.input{
	float: left;
	width: 407px;
	height: 33px;
	line-height: 33px;
}

div#logindatabox div.account div.input input{
	width: 403px;
	height: 27px;
	line-height: 30px;
}

div#logindatabox div.account div.icon{
	float: left;
	min-width: 120px;
	max-width: 122px;
	height: 33px;
	line-height: 33px;
}

div#logindatabox div.account div.icon div.ok{
	width: 44px;
	height: 33px;
	background: url("../images/icon/ok.png");
}

div#logindatabox div.password{
	clear: both;
	width: 100%;
	height: 33px;
	line-height: 33px;
	margin-bottom: 10px;
}

div#logindatabox div.password div.title{
	float: left;
	width: 99px;
	height: 33px;
	line-height: 33px;
	padding: 0 25px 0 0;
	text-align: right;
}

div#logindatabox div.password div.input{
	float: left;
	width: 407px;
	height: 33px;
	line-height: 33px;
}

div#logindatabox div.password div.input input{
	width: 403px;
	height: 27px;
	line-height: 30px;
}

div#logindatabox div.password div.icon{
	float: left;
	min-width: 120px;
	max-width: 122px;
	height: 33px;
	line-height: 33px;
}

div#logindatabox div.password div.icon div.ok{
	width: 44px;
	height: 33px;
	background: url("../images/icon/ok.png");
}


div#logindatabox div.confirmpassword{
	clear: both;
	width: 100%;
	height: 33px;
	line-height: 33px;
	margin-bottom: 10px;
}

div#logindatabox div.confirmpassword div.title{
	float: left;
	width: 99px;
	height: 33px;
	line-height: 33px;
	padding: 0 25px 0 0;
	text-align: right;
}

div#logindatabox div.confirmpassword div.input{
	float: left;
	width: 407px;
	height: 33px;
	line-height: 33px;
}

div#logindatabox div.confirmpassword div.input input{
	width: 403px;
	height: 27px;
	line-height: 30px;
}

div#logindatabox div.confirmpassword div.icon{
	float: left;
	min-width: 120px;
	max-width: 122px;
	height: 33px;
	line-height: 33px;
}

div#logindatabox div.confirmpassword div.icon div.ok{
	width: 44px;
	height: 33px;
	background: url("../images/icon/ok.png");
}

div#logindatabox div.agree{
	width: auto;
	height: 20px;
	text-align: right;
	padding: 0 125px 0 0;
	margin: 0 0 10px 0;
}

div#logindatabox div.agree input{
	float: right;
	width: 20px;
	height: 20px;
	line-height: 21px;
}

div#logindatabox div.agree p{
	float: right;
	line-height: 21px;
}

div#logindatabox div.agree p a{
	color: #535353;
}

div#logindatabox div.submit{
	clear: both;
	text-align: right;
	padding: 0 125px 0 0; 
	margin: 0 0 20px 0;
}
div#logindatabox div.submit input{
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	padding: 5px 15px 5px 15px;
	text-align: center;
	background: #f89700;
	border:1px solid #ccc ;
	line-height: 21px;	
	cursor: pointer;
}

div#logindatabox div.fbbox{
	clear: both;
	text-align: right;
	padding: 0 0 0 60px; 
	font-size: 18px;
}

div#logindatabox div.fbbox p{
	float: left;
	line-height: 41px;
	color: #999;
}

div#logindatabox div.fbbox div{
	float: left;
	cursor: pointer;
}

/*-----------------------------*/

div#logindialog{
	position: fixed;
	top:0px;
	left: 0px;
	display: none;
	width: 653px;
	height: 441px;
	padding: 10px 10px 15px 10px;
	border: solid 1px #ccc;
	background: #fff;
}

div#logindialog div.close{
	position: absolute;
	top:5px;
	right: 10px;
	width: 22px;
	height: 22px;
	background: url("../images/icon/close.png");
	cursor: pointer;
}

div#logindialog div.subject{
	line-height: 50px;
	font-size: 24px;
	color: #535353;

}

div#logindialog div.line{
	width: 100%;
	height:2px;
	background: #ccc; 
	margin-bottom: 105px;
}

div#logindialog div.account{
	clear: both;
	width: 100%;
	height: 33px;
	line-height: 33px;
	margin-bottom: 10px;
}

div#logindialog div.account div.title{
	float: left;
	width: 99px;
	height: 33px;
	line-height: 33px;
	padding: 0 25px 0 0;
	text-align: right;
}

div#logindialog div.account div.input{
	float: left;
	width: 407px;
	height: 33px;
	line-height: 33px;
}

div#logindialog div.account div.input input{
	width: 403px;
	height: 27px;
	line-height: 30px;
}

div#logindialog div.account div.icon{
	float: left;
	min-width: 120px;
	max-width: 122px;
	height: 33px;
	line-height: 33px;
}

div#logindialog div.account div.icon div.ok{
	width: 44px;
	height: 33px;
}

div#logindialog div.password{
	clear: both;
	width: 100%;
	height: 33px;
	line-height: 33px;
	margin-bottom: 10px;
}

div#logindialog div.password div.title{
	float: left;
	width: 99px;
	height: 33px;
	line-height: 33px;
	padding: 0 25px 0 0;
	text-align: right;
}

div#logindialog div.password div.input{
	float: left;
	width: 407px;
	height: 33px;
	line-height: 33px;
}

div#logindialog div.password div.input input{
	width: 403px;
	height: 27px;
	line-height: 30px;
}

div#logindialog div.password div.icon{
	float: left;
	min-width: 120px;
	max-width: 122px;
	height: 33px;
	line-height: 33px;
}

div#logindialog div.password div.icon div.ok{
	width: 44px;
	height: 33px;
}

div#logindialog div.submit{
	clear: both;
	text-align: right;
	padding: 0 125px 0 0; 
	margin: 0 0 90px 0;

}
div#logindialog div.submit input{
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	padding: 5px 15px 5px 15px;
	text-align: center;
	background: #f89700;
	border:1px solid #ccc ;
	line-height: 21px;	
	cursor: pointer;
}

div#logindialog div.fbbox{
	clear: both;
	text-align: right;
	padding: 0 0 0 60px; 
	font-size: 18px;
}

div#logindialog div.fbbox p{
	float: left;
	line-height: 41px;
	color: #999;
}

div#logindialog div.fbbox div{
	float: left;
	cursor: pointer;
}

/*-------------------*/
br.CLEAR{ clear:both; font-size:1px; height:1px; line-height:1px;}
/*----------消虛線---------*/
/* For IE, onFocus 的 F 要大寫*/
a{noFocusline:expression(this.onFocus=this.blur());}     
/* For Firefox */
a:focus{<br />	-moz-outline-style:none;}  