body {
	font-family: "微軟正黑體","Helvetica"; 
	color: #666666;
	background-color:#ffffff;
}

#maincontain{
	width:100%;
	height: auto;
	background: url("../images/bg/bg02.jpg");
	background-repeat: repeat-x;
}

#contentbox{
	width: 1100px;
	min-height: 600px;
	height: auto;
	margin: 0 auto;
}

#headerbox{
	position: relative;
	width:1110px;
	height: 68px;
}

#headerbox a.logo{
	position: absolute;
	display: block;
	top: 16px;
	left: 58px;
	width:205px;
	height: 44px;
	background: url("../images/logo/logo2.png");
}

#headerbox ul.menu{position: absolute;top: 15px; left: 650px;}
#headerbox ul.menu li{float: left;}
#headerbox ul.menu li a{
	margin: 0 23px 0 23px;
	line-height: 46px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#loginbox{
	position: absolute;
	top: 30px; 
	left: 989px;
	min-width: 26px;
	width: auto;
	height: 17px;
	line-height: 17px;
	background: url("../images/icon/login2.png");	
	background-repeat: no-repeat;
	color: #fff;
	padding: 0 0 0 30px;
	cursor: pointer;
}

#footerbox{
	width: 100%;
	height: 109px;
	background: #525252;
}


#footernavbox{
	width: 100%;
	height: 77px;
	background: #525252;
}


#footerinfobox{
	clear: both;
	width: 100%;
	height: 32px;
	background: #262626;
}

#footernavbox div.nav{
	width: 1100px;
	height: 77px;
	margin: 0 auto;
}

#footernavbox div.nav ul{float: right;}
#footernavbox div.nav ul li{float: left;}
#footernavbox div.nav ul li a{
	margin: 0 13px 0 13px;
	padding: 0;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 77px;
}

#footerinfobox div.info{
	width: 1100px;
	height: 32px;
	margin: 0 auto;
}

#footerinfobox div.info div.l{
	float: left;
	width: 495px;
	height: 32px;
	padding: 0 0 0 55px;
	line-height: 32px;
	color: #fff;
	font-size: 12px;
}

#footerinfobox div.info div.r{
	margin: 0 0 0 550px;
	width: 550px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	text-align: right;
	font-size: 12px;
}

/*-------------------*/

#editbox{
	width: 990px;
	min-height: 766px;
	padding: 0px 55px 0 55px;
}

#editbox div.step2{
	width: 700px;
	min-height: 170px;
	margin: 0 auto;
	background: url("../images/icon/step2.png");
}

#editbox div.reight{
	width: 700px;
	min-height: 596px;
	margin: 0 auto;
}

/*-------------------*/

#editbox div.reight div.accountinfo{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
}

#editbox div.reight div.accountinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
}

#editbox div.reight div.accountinfo div.left p{
	width: 210px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
}

#editbox div.reight div.accountinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.accountinfo div.reight ul{}
#editbox div.reight div.accountinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.accountinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}

/*-------------------*/

#editbox div.reight div.mailinfo{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
}

#editbox div.reight div.mailinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
}

#editbox div.reight div.mailinfo div.left p{
	width: 210px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
}

#editbox div.reight div.mailinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.mailinfo div.reight ul{}
#editbox div.reight div.mailinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.mailinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}

/*-------------------*/

#editbox div.reight div.passwdinfo{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
}

#editbox div.reight div.passwdinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
}

#editbox div.reight div.passwdinfo div.left p{
	width: 210px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
}

#editbox div.reight div.passwdinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.passwdinfo div.reight ul{}
#editbox div.reight div.passwdinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.passwdinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}

/*-------------------*/

#editbox div.reight div.confirmPasswdinfo{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
}

#editbox div.reight div.confirmPasswdinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
}

#editbox div.reight div.confirmPasswdinfo div.left p{
	width: 210px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
}

#editbox div.reight div.confirmPasswdinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.confirmPasswdinfo div.reight ul{}
#editbox div.reight div.confirmPasswdinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.confirmPasswdinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}
/*-------------------*/

#editbox div.reight div.msg1{
	width: auto;
	text-align: right;
	color: #ffa340;
	padding: 0 120px 0 0;
	margin: 0 0 12px 0 ;
}

/*-------------------*/

#editbox div.reight div.nameinfo{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
}

#editbox div.reight div.nameinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
	background: url("../images/icon/icon9.png");
	background-repeat: no-repeat;
	background-position: 180px 0px;
}

#editbox div.reight div.nameinfo div.left p{
	width: 165px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
	padding: 0 45px 0 0;
}

#editbox div.reight div.nameinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.nameinfo div.reight ul{}
#editbox div.reight div.nameinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.nameinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}
/*-------------------*/

#editbox div.reight div.birthdayinfo{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
}

#editbox div.reight div.birthdayinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
	background: url("../images/icon/icon10.png");
	background-repeat: no-repeat;
	background-position: 180px 0px;
}

#editbox div.reight div.birthdayinfo div.left p{
	width: 165px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
	padding: 0 45px 0 0;
}

#editbox div.reight div.birthdayinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.birthdayinfo div.reight ul{}
#editbox div.reight div.birthdayinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.birthdayinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}

/*-------------------*/

#editbox div.reight div.phoneinfo{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
}

#editbox div.reight div.phoneinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
	background: url("../images/icon/icon11.png");
	background-repeat: no-repeat;
	background-position: 180px 0px;
}

#editbox div.reight div.phoneinfo div.left p{
	width: 165px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
	padding: 0 45px 0 0;
}

#editbox div.reight div.phoneinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.phoneinfo div.reight ul{}
#editbox div.reight div.phoneinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.phoneinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}

/*-------------------*/

#editbox div.reight div.addressinfo{
	width: 100%;
	min-height: 80px;
	height: auto;
	
}

#editbox div.reight div.addressinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
	background: url("../images/icon/icon3.png");
	background-repeat: no-repeat;
	background-position: 180px 0px;
}

#editbox div.reight div.addressinfo div.left p{
	width: 165px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
	padding: 0 45px 0 0;
}

#editbox div.reight div.addressinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.addressinfo div.reight ul{}
#editbox div.reight div.addressinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.addressinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}


/*-------------------*/

#editbox div.reight div.schoolinfo{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
}

#editbox div.reight div.schoolinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
	background: url("../images/icon/icon12.png");
	background-repeat: no-repeat;
	background-position: 180px 0px;
}

#editbox div.reight div.schoolinfo div.left p{
	width: 165px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
	padding: 0 45px 0 0;
}

#editbox div.reight div.schoolinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.schoolinfo div.reight ul{}
#editbox div.reight div.schoolinfo div.reight ul li{
	min-height: 75px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.schoolinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}

#editbox div.reight div.schoolinfo div.reight ul li input.schoolstate{
	float: left;
	width: 40px;
	height: 23px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}

#editbox div.reight div.schoolinfo div.reight ul li div.box{
	padding: 0 0 0 205px;
}

#editbox div.reight div.schoolinfo div.reight ul li span{
	float: left;
	line-height: 23px;
}

#editbox div.reight div.schoolinfo div.reight div#addschool{
	width: 200px;
	height: 22px;
	line-height: 22px;
	background: url("../images/icon/add.png");	
	background-repeat: no-repeat;
	color: #999;
	padding: 0 0 0 30px;
	margin: 0 0 0 0px;
	cursor: pointer;
}

/*-------------------*/

#editbox div.reight div.jobinfo{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
}

#editbox div.reight div.jobinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
	background: url("../images/icon/icon13.png");
	background-repeat: no-repeat;
	background-position: 180px 0px;
}

#editbox div.reight div.jobinfo div.left p{
	width: 165px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
	padding: 0 45px 0 0;
}

#editbox div.reight div.jobinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.jobinfo div.reight ul{}
#editbox div.reight div.jobinfo div.reight ul li{
	min-height: 75px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.jobinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}

#editbox div.reight div.jobinfo div.reight ul li input.datestart , #editbox div.reight div.jobinfo div.reight ul li input.dateend{
	width: 153px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
	background: url("../images/icon/icon14.png");
	background-repeat: no-repeat;
	background-position: 125px 5px;	
}


#editbox div.reight div.jobinfo div.reight div#addjob{
	width: 200px;
	height: 22px;
	line-height: 22px;
	background: url("../images/icon/add.png");	
	background-repeat: no-repeat;
	color: #999;
	padding: 0 0 0 30px;
	margin: 0 0 0 0px;
	cursor: pointer;
}

/*-------------------*/

#editbox div.reight div.skillinfo{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
}

#editbox div.reight div.skillinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
	background: url("../images/icon/icon15.png");
	background-repeat: no-repeat;
	background-position: 180px 0px;
}

#editbox div.reight div.skillinfo div.left p{
	width: 165px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
	padding: 0 45px 0 0;
}

#editbox div.reight div.skillinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.skillinfo div.reight ul{}
#editbox div.reight div.skillinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.skillinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}

/*-------------------*/

#editbox div.reight div.employmentstatusinfo{
width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
}

#editbox div.reight div.employmentstatusinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
	background: url("");
	background-repeat: no-repeat;
	background-position: 180px 0px;
}

#editbox div.reight div.employmentstatusinfo div.left p{
	width: 165px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
	padding: 0 45px 0 0;
}

#editbox div.reight div.employmentstatusinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.employmentstatusinfo div.reight ul{}
#editbox div.reight div.employmentstatusinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.employmentstatusinfo div.reight ul li input{
	float: left;
	width: 32px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}
#editbox div.reight div.employmentstatusinfo div.reight ul li span{
	float: left;
	display: block;
	width: 70px;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
}

/*-------------------*/

#editbox div.reight div.aboutmeinfo{
	width: 100%;
	min-height: 35px;
	height: 150px;
	margin-bottom: 12px;
}

#editbox div.reight div.aboutmeinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
	background: url("../images/icon/icon15.png");
	background-repeat: no-repeat;
	background-position: 180px 0px;
}

#editbox div.reight div.aboutmeinfo div.left p{
	width: 165px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
	padding: 0 45px 0 0;
}

#editbox div.reight div.aboutmeinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.aboutmeinfo div.reight ul{}
#editbox div.reight div.aboutmeinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.aboutmeinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}
/*-------------------*/
#editbox div.reight div.recommendedinfo{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 32px;
}

#editbox div.reight div.recommendedinfo div.left{
	float: left;
	width: 210px;
	padding: 0 15px 0 0;
	min-height: 35px;
	background: url("");
	background-repeat: no-repeat;
	background-position: 180px 0px;
}

#editbox div.reight div.recommendedinfo div.left p{
	width: 165px;
	height: 35px;
	line-height: 35px;
	text-align: right;
	font-size: 18px;
	color: #535353;
	padding: 0 45px 0 0;
}

#editbox div.reight div.recommendedinfo div.reight{
	margin: 0 0 0 225px;
	width: auto;
	min-height: 35px;
}

#editbox div.reight div.recommendedinfo div.reight ul{}
#editbox div.reight div.recommendedinfo div.reight ul li{
	height: 35px; 
	color: #535353;
	font-size: 16px;
	line-height: 35px;
}
#editbox div.reight div.recommendedinfo div.reight ul li input{
	width: 350px;
	height: 32px;
	border:1px solid #bababa;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: #666;
	line-height: 32px;
}
/*-------------------*/
#editbox div.reight div.submitbox{
	width: 100%;
	min-height: 35px;
	height: auto;
	margin-bottom: 12px;
	text-align: right;
}
#editbox div.reight div.submitbox span.msg{
	color: #f89700;
}
#editbox div.reight div.submitbox input.submit{
	border: 1px #ccc solid;
	background: #f89700;
	border-radius: 5px;
	color: #fff;
	padding:5px 20px 5px 20px;
	margin: 0 120px 0 0;
	font-size: 18px;
	line-height: 21px;
	cursor: pointer;
}


/*-------------------*/

div#wall{
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
}

div#logindialog{
	position: fixed;
	top:0px;
	left: 0px;
	display: none;
	width: 653px;
	height: 441px;
	padding: 10px 10px 15px 10px;
	border: solid 1px #ccc;
	background: #fff;
}

div#logindialog div.close{
	position: absolute;
	top:5px;
	right: 10px;
	width: 22px;
	height: 22px;
	background: url("../images/icon/close.png");
	cursor: pointer;
}

div#logindialog div.subject{
	line-height: 50px;
	font-size: 24px;
	color: #535353;

}

div#logindialog div.line{
	width: 100%;
	height:2px;
	background: #ccc; 
	margin-bottom: 105px;
}

div#logindialog div.account{
	clear: both;
	width: 100%;
	height: 33px;
	line-height: 33px;
	margin-bottom: 10px;
}

div#logindialog div.account div.title{
	float: left;
	width: 99px;
	height: 33px;
	line-height: 33px;
	padding: 0 25px 0 0;
	text-align: right;
}

div#logindialog div.account div.input{
	float: left;
	width: 407px;
	height: 33px;
	line-height: 33px;
}

div#logindialog div.account div.input input{
	width: 403px;
	height: 27px;
	line-height: 30px;
}

div#logindialog div.account div.icon{
	float: left;
	min-width: 120px;
	max-width: 122px;
	height: 33px;
	line-height: 33px;
}

div#logindialog div.account div.icon div.ok{
	width: 44px;
	height: 33px;
}

div#logindialog div.password{
	clear: both;
	width: 100%;
	height: 33px;
	line-height: 33px;
	margin-bottom: 10px;
}

div#logindialog div.password div.title{
	float: left;
	width: 99px;
	height: 33px;
	line-height: 33px;
	padding: 0 25px 0 0;
	text-align: right;
}

div#logindialog div.password div.input{
	float: left;
	width: 407px;
	height: 33px;
	line-height: 33px;
}

div#logindialog div.password div.input input{
	width: 403px;
	height: 27px;
	line-height: 30px;
}

div#logindialog div.password div.icon{
	float: left;
	min-width: 120px;
	max-width: 122px;
	height: 33px;
	line-height: 33px;
}

div#logindialog div.password div.icon div.ok{
	width: 44px;
	height: 33px;
}

div#logindialog div.submit{
	clear: both;
	text-align: right;
	padding: 0 125px 0 0; 
	margin: 0 0 90px 0;

}
div#logindialog div.submit input{
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	padding: 5px 15px 5px 15px;
	text-align: center;
	background: #f89700;
	border:1px solid #ccc ;
	line-height: 21px;	
	cursor: pointer;
}

div#logindialog div.fbbox{
	clear: both;
	text-align: right;
	padding: 0 0 0 60px; 
	font-size: 18px;
}

div#logindialog div.fbbox p{
	float: left;
	line-height: 41px;
	color: #999;
}

div#logindialog div.fbbox div{
	float: left;
	cursor: pointer;
}

#about_self{
	margin: 0px; 
	width: 345px; 
	height: 100px;
}

#lstBox1{
	width: 150px;
	height: 200px;
}
#lstBox2{
	width: 150px;
	height: 200px;
}
/*-------------------*/
#fbbox{
	position: relative;
	width:1110px;
	height: 317px;
}

.addr-zip{display: none}
/*-------------------*/

br.CLEAR{ clear:both; font-size:1px; height:1px; line-height:1px;}
/*----------消虛線---------*/
/* For IE, onFocus 的 F 要大寫*/
a{noFocusline:expression(this.onFocus=this.blur());}     
/* For Firefox */
a:focus{<br />	-moz-outline-style:none;}  