body {
	font-family: "微軟正黑體、新細明體、細明體、Arial";
	color: #666666;
	background-color:#ffffff;
}

#maincontain{
	width:100%;
	height: auto;	
	padding: 140px 0 0 0;
}

#header{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	height: 70px;
	background: #8cc63f;
}

#logo{
	position: absolute;
	top:12px;
	left: 12px;
	width: 256px;
	height: 46px;
	background: url("../images/logo/logo.png");
}

#menu{
	position: fixed;
	top:70px;
	left: 0px;
	width: 100%;
	height: 70px;
	background: #525252;
}

#menu ul{

}

#menu ul li{
	float: left;
	width: 25%;
	height: 70px;
	text-align: center;
}

#menu ul li a{
	font-size: 36px;
	line-height: 70px;
	color: #fff;
	text-decoration: none;
}

#textbox{
	width: 550px;
	height: auto;
	padding: 20px 25px 20px 25px; 	
	margin: 0 auto;
}

#textbox p.title{
	font-size: 36px;
	color: #555;
	line-height: 50px;
	letter-spacing: 1px;
}

#textbox p.line{
	width: 80px;
	height: 5px;
	background: #f89700;
	margin-bottom: 30px;
}

#textbox p.name{
	font-size: 31px;
	color: #666;
	line-height: 50px;
	letter-spacing: 1px;
}

#textbox input{
	width: 485px;
	height: 60px;
	line-height: 60px;
	margin-bottom: 40px;
}

#textbox div.checkbox{
	margin: 0 auto;
	width: 340px;
	margin-bottom: 50px;
}

#textbox div.checkbox p{
	font-size: 34px
}

#textbox div.checkbox p a{
	color: #666;
}

#textbox input.checkbox{
	float: left;
	width: 20px;
	height: 20px;
	margin-bottom: 0px;
}

#textbox input.submit{
	display: block;
	width: 165px;
	height: 65px;
	border-radius: 10px;
	color: #fff;
	border: 0px;
	background: #f89700;
	text-align: center;
	font-size: 34px;
	line-height: 65px;
	margin: 0 auto;
	margin-bottom: 10px;
	cursor: pointer;
}

#textbox span.ok{
	float: right;
}

#textbox p.or{
	font-size: 34px;
	text-align: center;
	line-height: 60px;
}

#textbox  p.fbtxt{
	font-size: 34px;
	text-align: center;
	line-height: 60px;
	color: #2d4486;
	margin-bottom: 35px;
}

a#fbbtn{
	display: block;
	width: 373px;
	height: 69px;
	background: url("../images/btn/fb.jpg");
	margin: 0 auto;
	margin-bottom: 100px;
	cursor: pointer;
}

#footer{
	width: 100%;
	height: 110px;
	color: #fff;
	background: #262626;
}

#footer .txt{
	width: 570px;
	height: 90px;
	color: #fff;
	line-height: 36px;
	font-size: 18px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	letter-spacing: 0px;
}


br.CLEAR{ clear:both; font-size:1px; height:1px; line-height:1px;}
/*----------消虛線---------*/
/* For IE, onFocus 的 F 要大寫*/
a{noFocusline:expression(this.onFocus=this.blur());}     
/* For Firefox */
a:focus{<br />	-moz-outline-style:none;}  

